:root{
    --bg: #dcdcdc; /* light gray */
    --panel: rgba(255,255,255,0.75);
    --btn-bg: #fff;
    --btn-hover: #e0e0e0;
    --text: #222;
    --accent: #00aaff;
    --accent2: #ff7b54;
    --shadow: rgba(0,0,0,0.2);
}

body.dark{
    --bg: #1b1b1b;
    --panel: rgba(0,0,0,0.75);
    --btn-bg: #222;
    --btn-hover: #333;
    --text: #eee;
    --accent: #00c6ff;
    --accent2: #ff9800;
    --shadow: rgba(0,0,0,0.6);
}

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: "Segoe UI", sans-serif;
    background: var(--bg);
    transition: 0.3s;
}

.calculator{
    width:400px;
    padding:25px;
    border-radius:20px;
    background: var(--panel);
    box-shadow: 0 0 30px var(--shadow);
    backdrop-filter: blur(10px);
}

#display{
    width:100%;
    height:100px;
    font-size:32px;
    border:none;
    border-radius:14px;
    text-align:right;
    padding:8px;
    margin-bottom:15px;
    color: var(--accent2);
    background: #fff;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.15);
}

.buttons, .sci{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
    margin-bottom:10px;
}

button{
    padding:18px;
    font-size:18px;
    border:none;
    border-radius:12px;
    background: var(--btn-bg);
    color: var(--text);
    cursor:pointer;
    transition: 0.2s;
    box-shadow: 0 4px 10px var(--shadow);
}

button:hover{
    background: var(--btn-hover);
    transform: translateY(-2px);
}

button:active, .active-key{
    transform: scale(0.9);
    background: var(--accent2) !important;
    color: #fff;
}

.op{
    background:#efefef;
    color: var(--accent2);
    font-weight:bold;
}

.eq{
    background: var(--accent);
    color:#000;
    font-weight:bold;
}

.clear{
    background:#ff4d4d;
    color:#fff;
}

.memory{
    background:#d1d1d1;
    color:#222;
    font-weight:bold;
}

.copy-btn{
    width:100%;
    margin-top:8px;
    padding:10px;
    background:#ccc;
    border-radius:10px;
}

.history-box{
    height:50px;
    overflow-y:auto;
    background: var(--btn-bg);
    padding:10px;
    border-radius:12px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    font-size:14px;
}
